* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --primary-color: #005eff;
  --secondary-color: #00ff6e;
  --button-color: #000;
  --font-color: #fff;
  --bg-color: #141414;
}
body {
  background-color: var(--bg-color);
  display: grid;
  place-items: center;
  min-height: 100vh;
}
.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 140px;
  height: 60px;
  position: relative;
  background-color: var(--button-color);
  color: var(--font-color);
  flex-direction: column;
  border: none;
  padding: 12px;
  gap: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 18px;
  user-select: none;
}

.button::before {
  content: "";
  position: absolute;
  inset: 0;
  left: -4px;
  top: -4px;
  width: 148px;
  height: 68px;
  border-radius: 10px;
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  z-index: -4;
  pointer-events: none;
  transition: all 0.6s ease;
}
.button::after {
  content: "";
  z-index: -1;
  position: absolute;
  inset: 0;
  background: linear-gradient(
    -45deg,
    var(--primary-color),
    var(--secondary-color)
  );
  filter: blur(20px);
}
.button:hover::after {
  filter: blur(10px);
}
.button:hover::before {
  transform: rotate(-180deg);
}
.button:active::before {
  scale: 0.6;
}
