@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

:root {
  --background-color: #0b0b0b;
  --nav-color: #12171d;
  --blue-light: #4c6ef5;
  --blue-dark: #364fc7;
  --font-color: #fff;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: var(--background-color);
  font-family: "Lato", sans-serif;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  width: 80%;
  height: 70px;
  border-radius: 10px;
  background-color: var(--nav-color);
  overflow: hidden;
}
.navbar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20%;
  font-size: 1.6rem;
  letter-spacing: 1.4px;
  font-weight: 500;
  color: var(--font-color);
  text-decoration: none;
  height: 100%;
  position: relative;
  z-index: 1;
}

.navbar .fill {
  position: absolute;
  top: 0;
  left: 0;
  width: 20%;
  height: 100%;
  border-radius: 10px;
  background: linear-gradient(to bottom, var(--blue-light), var(--blue-dark));
  transition: 0.5s;
}
.navbar a:nth-child(1):hover ~ .fill {
  left: 0;
}
.navbar a:nth-child(2):hover ~ .fill {
  left: 20%;
}
.navbar a:nth-child(3):hover ~ .fill {
  left: 40%;
}
.navbar a:nth-child(4):hover ~ .fill {
  left: 60%;
}
.navbar a:nth-child(5):hover ~ .fill {
  left: 80%;
}
